/* ======================================
   Universal Selector
====================================== */

*{
    color: black;
}


/* ======================================
   Element Selector
====================================== */

h2{
    color: blue;
}


/* ======================================
   Class Selector
====================================== */

.heading{
    color: green;
}


/* ======================================
   ID Selector
====================================== */

#title,
#title2,
#title3{
    color: orange;
}